
  <div>
    <form class="inline-form" style="width: 100%" [formGroup]="form" (ngSubmit)="onFormSubmit()">
        <div class="mb-2 ml-2">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City Name</label>
          <input type="text" value="{{city.name}}" formControlName="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="mb-2 ml-2">
          <label for="url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image Link</label>
          <input type="text" value="{{city.logoUrl}}" formControlName="url" id="url" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="mb-2 mt-9 ml-2">
          <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Save</button>
        </div>
    </form>
  </div>
